@model Product
@{
    ViewData["Title"] = "Update";
}


<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Update Product</h4>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input class="form-control" asp-for="Name">
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price"></label>
                        <input class="form-control" asp-for="Price">
                        <span class="text-danger" asp-validation-for="Price"></span>
                    </div>
                    <div class="form-group" id="Category">
                        <select name="CategoryId">
                            @foreach (var category in ViewBag.CategoryList)
                            {
                                if (category.Id == Model.CategoryId)
                                {
                                    <option value="@Model.CategoryId">@Model.Category.Name</option>
                                }
                            }
                            @foreach (var category in ViewBag.CategoryList)
                            {
                                if (category.Id != Model.CategoryId)
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }
                            }

                        </select>
                    </div>

                    <div class="form-group" id="CategoryChild">
                        <select name="CategoryChildId">
                            @foreach (var category in ViewBag.CategoryList)
                            {
                                foreach (var item in category.CategoryChild)
                                {
                                    if (item.Id == Model.CategoryChildId)
                                    {
                                        <option value="@Model.CategoryChildId">@Model.CategoryChild.Name</option>
                                    }



                                }


                            }
                            @foreach (var category in ViewBag.CategoryList)
                            {
                                foreach (var item in category.CategoryChild)
                                {
                                    if (item.Id != Model.CategoryChildId)
                                    {
                                        <option value="@item.Id">@item.Name</option>

                                    }

                                }

                            }

                        </select>
                    </div>
                    <div class="form-group" id="Brend">
                        <select name="BrendId">
                            @foreach (var category in ViewBag.CategoryList)
                            {
                                foreach (var item in category.CategoryChild)
                                {
                                    foreach (var item2 in item.Brends)
                                    {
                                        if (item2.Id == Model.BrendId)
                                        {
                                            <option value="@Model.BrendId">@Model.Brend.Name</option>
                                        }

                                    }

                                }
                            }
                            @foreach (var category in ViewBag.CategoryList)
                            {
                                foreach (var item in category.CategoryChild)
                                {
                                    foreach (var item2 in item.Brends)
                                    {
                                        if (item2.Id != Model.BrendId)
                                        {
                                            <option value="@item2.Id">@item2.Name</option>

                                        }
                                    }

                                }
                            }

                        </select>
                    </div>
                    <div class="form-group" id="Specs">
                        <select name="SpecsId">
                            @foreach (var specs in ViewBag.SpecsList)
                            {
                                if (specs.Id == Model.SpecsId)
                                {
                                    <option value="@Model.SpecsId">
                                        @Model.Specs.ProducerForView : @Model.Specs.ProducerValue |
                                        @Model.Specs.ProductionYearForView : @Model.Specs.ProductionYearValue |
                                        @Model.Specs.TypeForView :  @Model.Specs.TypeValue |
                                        @Model.Specs.OSForView : @Model.Specs.OSValue
                                    </option>
                                }
                            }
                            @foreach (var specs in ViewBag.SpecsList)
                            {
                                if (specs.Id != Model.SpecsId)
                                {
                                    <option value="@specs.Id">
                                        @specs.ProducerForView : @specs.ProducerValue |
                                        @specs.ProductionYearForView : @specs.ProductionYearValue |
                                        @specs.TypeForView :  @specs.TypeValue |
                                        @specs.OSForView : @specs.OSValue
                                    </option>
                                }
                            }

                        </select>
                    </div>
                    <div class="form-group" id="ProductColor">
                        @foreach (var color in Model.ProductColors)
                        {
                            <label>@color.Color.Name</label>
                            <input type="checkbox" name="ids" value="@color.ColorId" disabled checked/>
                        }
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Images.FirstOrDefault().Files"></label>
                        <input class="form-control" asp-for="@Model.Images.FirstOrDefault().Files" accept="image/*">
                        <span class="text-danger" asp-validation-for="@Model.Images.FirstOrDefault().Files"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Update</button>
                    <a class="btn btn-light" asp-controller="Product" asp-action="Index">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_Validation" />
}
