@model List<FavoriteVM>
@{
    ViewData["Title"] = "Favorite";
    int counter = 0;
}

<div class="productcontainer" data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease-in-out"
     data-aos-once="true" data-aos-anchor-placement="top-center">
    <h3>SEÇİLMİŞLƏR</h3>
    <div class="forflex" id="productlist3" style="justify-content:normal;max-width:1270px">
        @foreach (FavoriteVM item in Model)
        {
            @if (counter == 0 || counter % 4 == 0)
            {
                counter++;
                <div class="productcard favorite"
                     style="position:relative;margin-top:34px;">
                    @if (item.IsFavorite == true)
                    {
                        <a class="fav"
                           style="
                    position: absolute;
                    top: -10px;
                    right: -20px;
                    z-index: 100;"
                           asp-action="RemoveFavoriteProduct" asp-route-id="@item.Id" asp-route-actionname="@ViewContext.RouteData.Values["action"].ToString()"> <span class="like-btn is-active"></span></a>
                    }
                    else
                    {
                        <a class="non-fav"
                           style="
                    position: absolute;
                    top: -10px;
                    right: -20px;
                    z-index: 100;"
                           asp-action="AddToFavorite" asp-route-id="@item.Id"><span class="like-btn"></span></a>
                    }

                    <a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id"><img src="~/img/@item.Image" alt="" style="margin-top:30px" /></a>
                    <p>@item.Name</p>
                    <div class="pricecontainer">
                        <p class="price">@item.Price</p>
                        <p class="currency">AZN</p>
                    </div>
                    <div class="buttoncontainer">
                        <a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id"
                           style="
                width: auto !important;
                padding: 5px 30px;
                color: white;
                border-radius: 20px;
                background-color: #6D757A;
                margin-bottom:10px
                    ">
                            Məhsula bax
                        </a>
                        <a asp-controller="Home" asp-action="AddToBasket" asp-route-id="@item.Id" style=" width: auto !important; border: 1px solid #6D757A; padding: 5px 25px; color: #6D757A; border-radius: 20px;margin-bottom:50px">
                            Karta əlavə et
                        </a>
                    </div>
                </div>

            }
            else
            {
                counter++;
                <div class="productcard favorite"
                     style="position:relative;margin-top:34px;margin-left:33px">
                    @if (item.IsFavorite == true)
                    {
                        <a class="fav"
                           style="
                    position: absolute;
                    top: -10px;
                    right: -20px;
                    z-index: 100;"
                           asp-action="RemoveFavoriteProduct" asp-route-id="@item.Id" asp-route-actionname="@ViewContext.RouteData.Values["action"].ToString()"> <span class="like-btn is-active"></span></a>
                    }
                    else
                    {
                        <a class="non-fav"
                           style="
                    position: absolute;
                    top: -10px;
                    right: -20px;
                    z-index: 100;"
                           asp-action="AddToFavorite" asp-route-id="@item.Id"><span class="like-btn"></span></a>
                    }

                    <a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id"><img src="~/img/@item.Image" alt="" style="margin-top:30px" /></a>
                    <p>@item.Name</p>
                    <div class="pricecontainer">
                        <p class="price">@item.Price</p>
                        <p class="currency">AZN</p>
                    </div>
                    <div class="buttoncontainer">
                        <a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id"
                           style="
                width: auto !important;
                padding: 5px 30px;
                color: white;
                border-radius: 20px;
                background-color: #6D757A;
                margin-bottom:10px
                    ">
                            Məhsula bax
                        </a>
                        <a asp-controller="Home" asp-action="AddToBasket" asp-route-id="@item.Id" style=" width: auto !important; border: 1px solid #6D757A; padding: 5px 25px; color: #6D757A; border-radius: 20px;margin-bottom:50px">
                            Karta əlavə et
                        </a>
                    </div>
                </div>

            }
        }

    </div>
</div>