@model HomeVM
@{
    ViewData["Title"] = "Index";
    int counter = 0;
}


<div style="padding: 20px;">
    <div class="carouselcontainer">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @foreach (Slider item in Model.Sliders)
                {
                    if (item.IsActive == true)
                    {
                        <div class="carousel-item active">
                            <a href="@item.Url">
                                <img src="~/img/@item.Image" class="d-block w-100" alt="..." />
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="carousel-item">
                            <a href="@item.Url">
                                <img src="~/img/@item.Image" class="d-block w-100" alt="..." />
                            </a>
                        </div>
                    }

                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<div class="secondcategorycontainer" data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease-in-out"
     data-aos-once="true" data-aos-anchor-placement="top-center">
    <h3>NƏ ALMAQ İSTƏYİRSİNİZ?</h3>
    <div class="forflex">
    
        @foreach (Category item in Model.Categories)
        {
            <a asp-controller="Category" asp-action="Index" asp-route-id="@item.Id">
                <div class="secondpartcategory @item.ClassName">
                    <p data-aos="fade-right" data-aos-duration="700" data-aos-easing="ease-in-out" data-aos-once="true"
                       data-aos-anchor=".secondcategorycontainer" data-aos-anchor-placement="top-center">@item.Name</p>
                    <img src="~/img/@item.Image" alt="" />
                </div>
            </a>
        }
    

    </div>
</div>
<div class="productcontainer" data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease-in-out"
     data-aos-once="true" data-aos-anchor-placement="top-center">
    <h3>YENİ MƏHSULLAR</h3>
    <div class="forflex" id="productlist" style="justify-content:normal;max-width: initial;">
        @foreach (Product item in Model.Products)
        {
            @if (counter == 0 || counter % 4 == 0)
            {
                counter++;
                <div class="productcard" style="position:relative;margin-top:34px;">
                    @if (item.IsFavorite == true)
                    {
                        <a class="fav"
                           style="
                    position: absolute;
                    top: -10px;
                    right: -20px;
                    z-index: 100;"
                           asp-action="RemoveFavoriteProduct" asp-route-id="@item.Id"> <span class="like-btn is-active"></span></a>
                    }
                    else
                    {
                        <a class="non-fav"
                           style="
                    position: absolute;
                    top: -10px;
                    right: -20px;
                    z-index: 100;"
                           asp-action="AddToFavorite" asp-route-id="@item.Id"><span class="like-btn"></span></a>
                    }


                    <a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id"><img src="~/img/@item.Images.FirstOrDefault(p=>p.ProductId==item.Id).ImageName" alt="" style="margin-top:30px" /></a>
                    <p>@item.Name</p>
                    <div class="pricecontainer">
                        <p class="price">@item.Price</p>
                        <p class="currency">AZN</p>
                    </div>
                    <div class="buttoncontainer">
                        <a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id"
                           style="
                    width: auto !important;
                    padding: 5px 30px;
                    color: white;
                    border-radius: 20px;
                    background-color: #6D757A;
                    margin-bottom:10px
                    ">
                            Məhsula bax
                        </a>
                        <a class="addbasket" asp-action="AddToBasket" asp-route-id="@item.Id" style=" width: auto !important; border: 1px solid #6D757A; padding: 5px 25px; color: #6D757A; border-radius: 20px;margin-bottom:50px">
                            Karta əlavə et
                        </a>
                    </div>
                </div>

            }
            else
            {
                counter++;
                <div class="productcard" style="position:relative;margin-top:34px;margin-left:33px">
                    @if (item.IsFavorite == true)
                    {
                        <a class="fav"
                           style="
                    position: absolute;
                    top: -10px;
                    right: -20px;
                    z-index: 100;"
                           asp-action="RemoveFavoriteProduct" asp-route-id="@item.Id"> <span class="like-btn is-active"></span></a>
                    }
                    else
                    {
                        <a class="non-fav"
                           style="
                    position: absolute;
                    top: -10px;
                    right: -20px;
                    z-index: 100;"
                           asp-action="AddToFavorite" asp-route-id="@item.Id"><span class="like-btn"></span></a>
                    }


                    <a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id"><img src="~/img/@item.Images.FirstOrDefault(p=>p.ProductId==item.Id).ImageName" alt="" style="margin-top:30px" /></a>
                    <p>@item.Name</p>
                    <div class="pricecontainer">
                        <p class="price">@item.Price</p>
                        <p class="currency">AZN</p>
                    </div>
                    <div class="buttoncontainer">
                        <a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id"
                           style="
                    width: auto !important;
                    padding: 5px 30px;
                    color: white;
                    border-radius: 20px;
                    background-color: #6D757A;
                    margin-bottom:10px
                    ">
                            Məhsula bax
                        </a>
                        <a class="addbasket" asp-action="AddToBasket" asp-route-id="@item.Id" style=" width: auto !important; border: 1px solid #6D757A; padding: 5px 25px; color: #6D757A; border-radius: 20px;margin-bottom:50px">
                            Karta əlavə et
                        </a>
                    </div>
                </div>

            }
        }


    </div>
    <input type="hidden" id="productcount" value="@ViewBag.ProductCount" />
    <div class="buttoncontainer">
        <button class="loadmore" id="loadmore">Daha cox</button>
    </div>
</div>
